

.container-categorias-fotos{
background-image: url(https://media.istockphoto.com/id/1403196779/pt/foto/a-happy-mixed-race-family-of-three-relaxing-in-the-lounge-and-being-playful-together-loving.jpg?s=612x612&w=0&k=20&c=IScu9R9AtQgk9IGSWanvL3Sgq4Xunn6tFw1-4SD-gzk=);
background-repeat: no-repeat;
display: flex; 
flex-direction: column; 
justify-content: center; 
align-items: center;
}

.container-categorias-fotos h1{
    text-align: center; 
    margin: 20px;
    padding: 5px;
    font-weight: 800;
    background-color: rgba(0, 0, 0, 0.089);
    border-radius: 2px 4px ;
}

.container-categorias-fotos h4{
    width: 80%;
    text-align: center;
    font-weight: 300;
    background-color: rgba(0, 0, 0, 0.459);
    padding: 10px;
    color: white;
}

.container-categorias-fotos h4 > span{
    padding: 2px;
    color: green; text-transform: uppercase; background-color: white;
}

.secao-fotos-container{
    margin-top: 30px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

       .secao-form-contato{
              margin: 20px;
              padding: 5px;
              width: 400px;
       }

       form{
         display: flex;
         flex-direction: column; 
         gap: 3px;      
      
       }
       form label{
        text-transform: uppercase;
        margin: 0;

        
       }
       form input{
         text-transform: uppercase;
         height: 30px;
         padding: 3px;
         margin-bottom: 5px;
         
       }
       form input[type=submit]{
         margin: 5px auto;
         width: 60%;
         color: black;
         font-weight: 800;
         border: 2px solid black;
         cursor: pointer;

       }
       form textarea{
         height: 150px;
         padding: 2px;
       }
       header{
         text-align: center;
       }

       @media (max-width: 768px) {
              .secao-form-contato{
              width: 300px;
              margin: 20px;
              padding: 5px;
       }

}